examples/loan-processor-state-machine/stateMachines/LoanProcessorStateMachine.asl.json
{
  "StartAt": "GetCreditRating",
  "States": {
    "GetCreditRating": {
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleCreditRatingError"
        }
      ],
      "Type": "Task",
      "ResultPath": "$.creditRating",
      "Resource": "${Token[TOKEN.422]}",
      "Parameters": {
        "firstName.$": "$.loanDetails.firstName",
        "lastName.$": "$.loanDetails.lastName",
        "postcode.$": "$.loanDetails.postcode"
      }
    },
    "HandleCreditRatingError": {
      "Type": "Pass",
      "Result": "CreditRating",
      "ResultPath": "$.Source",
      "Next": "ExtractErrorCause"
    },
    "ExtractErrorCause": {
      "Next": "SendErrorMessage",
      "Type": "Task",
      "ResultPath": "$.Cause",
      "Resource": "${Token[TOKEN.530]}"
    },
    "SendErrorMessage": {
      "Next": "CreditRatingFail",
      "Type": "Task",
      "Resource": "arn:${Token[AWS.Partition.5]}:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "${Token[TOKEN.462]}",
        "MessageBody": {
          "Source.$": "$.Source",
          "Cause.$": "$.Cause"
        }
      }
    },
    "CreditRatingFail": {
      "Type": "Fail",
      "Cause": "CreditRating"
    }
  }
}