examples/loan-processor-state-machine/stateMachines/LoanProcessorStateMachine.asl.json
{
  "StartAt": "GetCreditRating",
  "States": {
    "GetCreditRating": {
      "Next": "CheckCreditRating",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleCreditRatingError"
        }
      ],
      "Type": "Task",
      "ResultPath": "$.creditRating",
      "Resource": "${Token[TOKEN.422]}",
      "Parameters": {
        "firstName.$": "$.loanDetails.firstName",
        "lastName.$": "$.loanDetails.lastName",
        "postcode.$": "$.loanDetails.postcode"
      }
    },
    "CheckCreditRating": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.creditRating",
          "StringEquals": "GOOD",
          "Next": "AcceptLoan"
        }
      ],
      "Default": "DeclineLoan"
    },
    "DeclineLoan": {
      "Type": "Pass",
      "Next": "BuildDeclinedEvent"
    },
    "BuildDeclinedEvent": {
      "Next": "PublishDeclinedEvent",
      "Type": "Task",
      "InputPath": "$.loanDetails",
      "ResultPath": "$.declinedEvent",
      "Resource": "${Token[TOKEN.588]}"
    },
    "PublishDeclinedEvent": {
      "End": true,
      "Type": "Task",
      "Resource": "arn:${Token[AWS.Partition.5]}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${Token[TOKEN.487]}",
        "Message.$": "$.declinedEvent"
      }
    },
    "AcceptLoan": {
      "Type": "Pass",
      "End": true
    },
    "HandleCreditRatingError": {
      "Type": "Pass",
      "Result": "CreditRating",
      "ResultPath": "$.Source",
      "Next": "ExtractErrorCause"
    },
    "ExtractErrorCause": {
      "Next": "SendErrorMessage",
      "Type": "Task",
      "ResultPath": "$.Cause",
      "Resource": "${Token[TOKEN.610]}"
    },
    "SendErrorMessage": {
      "Next": "CreditRatingFailure",
      "Type": "Task",
      "Resource": "arn:${Token[AWS.Partition.5]}:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "${Token[TOKEN.498]}",
        "MessageBody": {
          "Source.$": "$.Source",
          "Cause.$": "$.Cause"
        }
      }
    },
    "CreditRatingFailure": {
      "Type": "Fail",
      "Cause": "CreditRating"
    }
  }
}